<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>自定义主页面</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // 开启 csrf 必须使用 POST 退出登录
        function logout() {
            let token = $("#token").text();
            $.post("/logout", {"_csrf": token}, function (data) {
                alert(data);
                window.location.href = "/login";
            });
        }
    </script>
</head>
<body>
<h1>主页面</h1>
<h3>令牌是：<span id="token" th:text="${_csrf.token}"></span></h3>
<div>
    <h3>身份：<span sec:authentication="principal"></span></h3>
    <h3>凭证：<span sec:authentication="credentials"></span></h3>
    <h3>凭证：<span sec:authentication="authorities"></span></h3>
    <h3>名字：<span sec:authentication="name"></span></h3>
    <h3>明细：<span sec:authentication="details"></span></h3>
</div>
<a href="/logout">【关闭 CSRF 时 GET 请求】 - 退出登录</a>
<br/>
<a href="javascript:void(0)" onclick="logout()">【开启 CSRF 时 POST 请求】 - 退出登录</a>
<br/>
<br/>
<hr/>
<a href="/user/list" sec:authorize="hasAuthority('user:list')">用户列表（ROLE_admin、ROLE_user）</a>
<hr/>
<a href="/user/add" sec:authorize="hasAuthority('user:add')">用户添加（user:add）</a>
<hr/>
<a href="/user/update" sec:authorize="hasAuthority('user:update')">用户修改（user:update）</a>
<hr/>
<a href="/reg/register-page" sec:authorize="hasAuthority('reg:register-page')">用户注册（reg:register-page）</a>
</body>
</html>